/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu .app-brand.demo {
  height: 64px;
  margin-top: 12px;
}

.app-brand-logo.demo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
}

/* ! For .layout-navbar-fixed added fix padding top to .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 74px !important;
}
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}
.docs-page .layout-navbar-fixed.layout-wrapper:not(.layout-without-menu) .layout-page,
.docs-page .layout-menu-fixed.layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 62px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

/* Dropdown buttons going out of small screens */
@media (max-width: 576px) {
  #dropdown-variation-demo .btn-group .text-truncate {
    width: 231px;
    position: relative;
  }
  #dropdown-variation-demo .btn-group .text-truncate::after {
    position: absolute;
    top: 45%;
    right: 0.65rem;
  }
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}
/* .dt-custom-btn {
  background-color: #696cff !important;
  border: none !important;
} */
.dt-search {
  padding-right: 10px;
}

/* .was-validated .form-control:valid,
.form-control.is-valid {
  border-color: #dee2e6 !important; 
  background-image: none !important; 
}


.was-validated .valid-feedback,
.was-validated .valid-tooltip {
  display: none !important;
}


.was-validated .form-control:valid:focus {
  border-color: #86b7fe !important;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
} */

.g-6 {
  margin-block-end: 1.5rem !important;
}

/* Tom select */

.ts-control {
  border-radius: 0.375rem !important;

  min-height: 42px;

  border: 1px solid #d9dee3;

  padding: 0.5rem;

  box-shadow: none;
}

.ts-wrapper.focus .ts-control {
  color: #696cff !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: #696cff !important;
  outline: 0;
  box-shadow:
    0 0.125rem 0.25rem 0 rgba(105, 108, 255),
    0.4 !important;
  border-width: 2px;
}

.ts-dropdown {
  border-radius: 0.5rem;

  border: 1px solid #d9dee3;

  box-shadow: 0 0.25rem 1rem rgba(161, 172, 184, 0.45);

  margin: 0 0 0 !important;
}

.ts-dropdown .option {
  padding: 10px 15px;
}

.ts-dropdown .option.active {
  background-color: Highlight; /* Aplica el azul nativo del sistema del usuario */
  color: HighlightText;
}

@media (min-width: 576px) {
  .invoice-perso {
    padding: 2rem 2.5rem 2.5rem 2rem !important;
  }
}

.producto-option {
  display: flex;

  align-items: center;

  gap: 12px;
}

.producto-option-img {
  width: 55px;

  height: 55px;

  object-fit: cover;

  border-radius: 6px;

  border: 1px solid #dcdcdc;
}

.producto-option-info {
  display: flex;

  flex-direction: column;
}

.producto-option-title {
  font-weight: 600;

  font-size: 14px;
}
